.input .text-field {
      -fx-text-fill: -fx-text-inner-color
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #1052a8;
    -fx-border-width: 1;
}

.table-row-cell:selected {
    -fx-selection-bar: rgba(0, 153, 255, 0.1);
    -fx-selection-bar-non-focused: rgba(0, 153, 255, 0.1);
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 13;
}

.table-view .column-header {
    -fx-background-color: #00C1FF;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: -fx-text-inner-color;
    -fx-font-size: 13;
}

.table-view .column-header .label {
    -fx-text-fill: #fdffff;
    -fx-font-weight: 700;
}

.column-header-background {
     -fx-background-color: #00C1FF;
     -fx-padding: 0.3em;
}

.combo-box > .list-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

#promoList > .list-cell {
    -fx-text-fill: #fdffff;
}

#promoBilan > .list-cell {
    -fx-text-fill: #fdffff;
}

#classeList > .list-cell {
    -fx-text-fill: #fdffff;
}

#classeBilan > .list-cell {
     -fx-text-fill: #fdffff;
 }

.combo-box{
    -fx-background-color:  #0099ff;
}